<% provide(:title, 'Kontakt') %>
<h1>Kontakt Seite</h1>
     <p>Dies ist die Kontakt Seite für diese neue Anwendung nach dem <a href="http://railstutorial.org/book">Rails Tutorial book</a>
     </p>
  
