<% provide(:title, 'Zuhause') %>

  	<h1>Neue App</h1>
      <p>
        Dies ist die Home Page für eine Neue Anwendung
        erstellt mit dem  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>.
     </p>
  
